<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Matricula.Properties.Settings.vestibulinhoConnectionString"
            connectionString="server=localhost;user id=root;database=vestibulinho"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>